/* General styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.imgur.com/Zz4k6aM.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: #FFF;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal */
.modal {
  height: 470px;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Form and invite */
.form, .invite {
  background: rgba(71, 71, 71, 0.8);
  width: 50%;
  height: 100%;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Input */
input {
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #FFF;
  font-size: 20px;
}

/* Label */
label {
  font: 500 14px Roboto;
  color: #2E9CB6;
}

/* Button */
.open {
  background: linear-gradient(-45deg, #2E9CB6, #2E9CB6);
  height: 45px;
  width: 200px;
  padding: 10px 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.open.active {
  opacity: 1;
  visibility: visible;
}

.open:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Invite */
.invite {
  background: linear-gradient(-45deg, #2E9CB6, #2E9CB6);
  left: 50%;
}

/* Title */
h3 {
  font: 30px Roboto;
  text-transform: uppercase;
}

/* Ads */
.adsbygoogle {
  margin-bottom: 20px;
}

/* Nouveau style pour la partie droite */
.right-section {
  background: linear-gradient(to right, #2E9CB6, #2E9CB6);
  color: #FFF;
  padding: 20px;
  width: 50%;
}

.right-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.right-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right-section ul li {
  margin-bottom: 10px;
}

.right-section ul li:before {
  content: "\2022"; /* Utilisation du caractère de puce */
  color: #FFD700; /* Couleur dorée */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.right-section p {
  font-size: 16px;
}

/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
  .right-section {
    width: 100%; /* Sur les petits écrans, prendre toute la largeur */
  }
}

.study-text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: normal; /* Par défaut */
}
