/* General styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  transition: .4s;
}

body {
  background-image: url("https://i.imgur.com/Zz4k6aM.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: #FFF;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal */
.modal {
  height: 470px;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Form and invite */
.form, .invite {
  background: rgba(71, 71, 71, 0.8);
  width: 50%;
  height: 100%;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Input */
input {
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #FFF;
  font-size: 20px;
}

/* Label */
label {
  font: 500 14px Roboto;
  color: #2E9CB6;
}

/* Button */
.blue-btn {
    background: #007bff; /* Conservez la couleur bleue */
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    padding: 0; /* Supprimez le rembourrage par défaut */
    width: 270px;
    height: 80px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
}

.blue-btn #btnText {
    margin: 0; /* Supprimez la marge autour du texte */
    padding: 25px; /* Ajoutez un remplissage pour centrer le texte */
    transition: 1s;
}

.blue-btn .check-box {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.blue-btn .check-box svg {
    width: 40px;
    margin: 20px;
}

.blue-btn svg path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.blue-btn.active {
    background: #ff2b75;
    transition: 1s;
}

.blue-btn.active .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
}

.blue-btn.active #btnText {
    margin-right: 125px;
    transition: 1s;
}

.blue-btn.active svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

/* Invite */
.invite {
  background: linear-gradient( -45deg, #2E9CB6, #2E9CB6);
  left: 50%;
}

/* Title */
h3 {
  font: 30px Roboto;
  text-transform: uppercase;
}

/* Open button */
.open {
  background: linear-gradient( -45deg, #2E9CB6, #2E9CB6);
  height: 45px;
  width: 200px;
  padding: 10px 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.open.active {
  opacity: 1;
  visibility: visible;
}

.open:hover {
  box-shadow: 0
